.category-card {
  display: grid;
  gap: 4px;
  border: 1px solid var(--border);
  width: max-content;
  cursor: pointer;

  &__img {
    width: 250px;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}