@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --mainBlack: #111111;
  --activeLink: #00ddad;
  --border: #b4b4b4;
}

* {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--mainBlack);
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}
